@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

h1,
h2,
h3,
a {
  color: var(--title-color);
  font-family: var(--font-space);
}

.raleway {
  font-family: var(--font-Raleway);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-box-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

.card {
  border-radius: 2rem;
  padding: 0.5rem;
  overflow: clip;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 40%;
    bottom: 0.5rem;
    left: 0.5rem;
    mask: linear-gradient(#0000, #000f 80%);
    backdrop-filter: blur(1rem);
    border-radius: 0 0 1.5rem 1.5rem;
    translate: 0 0;
    transition: translate 0.25s;
  }

  > img {
    max-width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: 10% 5%;
    border-radius: 1.5rem;
    display: block;
    transition: aspect-ratio 0.25s, object-position 0.5s;
    /* firefox patch */
    width: 100%;
    height: auto;
  }

  > section {
    height: calc(33.3333% - 1rem);

    h2 {
      margin: 0;
      margin-block-end: 0.5rem;
      font-size: 1.5rem;
      opacity: 0;
      translate: 0 -200%;
      opacity: 1;
      color: var(--title-color);
      transition: color 0.5s, margin-block-end 0.25s, opacity 1s,
        translate 0.25s;
    }

    p {
      font-size: 0.95rem;
      line-height: 1.3;
      color: var(--text-color);
      opacity: 0;
      margin: 0;
      translate: 0 100%;
      transition: margin-block-end 0.25s, opacity 1s 0.2s, translate 0.25s 0.2s;
    }
  }

  &:hover,
  &:focus-within {
    &::before {
      translate: 0 100%;
    }

    > img {
      aspect-ratio: 1 / 0.75;
      object-position: 50% 10%;
      transition: aspect-ratio 0.25s, object-position 0.25s;
    }

    > section {
      h2,
      p {
        translate: 0 0;
        margin-block-end: 0.5rem;
        opacity: 1;
      }

      h2 {
        color: var(--title-color-hover);
      }

      > div {
        translate: 0 0;
        opacity: 1;
        transition: translate 0.25s 0.25s, opacity 0.5s 0.25s;
      }
    }
  }
}
