@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

h1,
h2,
h3,
a {
  color: var(--title-color);
  font-family: var(--font-space);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-box-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
/* Main - Work */

.work-container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}
.work-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}
.work-item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}
.work-card {
  background-color: var(--box-color);
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.work-img {
  border-radius: 0.5rem;
  margin-bottom: var(--mb1);
}
.work-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb05);
}
.work-button {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.work-button-icon {
  font-size: 1rem;
  transition: 0.4s;
}
.work-button:hover .work-button-icon {
  transform: translateX(0.25rem);
}
.active-work {
  background-color: var(--skin-color);
  color: var(--title-color);
}

.portfolio-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  z-index: var(--z-modal);
  transition: 0.4s;
}
.portfolio-popup.open {
  opacity: 1;
  visibility: visible;
}
.portfolio-popup-inner {
  background-color: var(--box-color);
  width: 900px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  position: relative;
}
.portfolio-popup-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}
.portfolio-popup-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--skin-color);
  cursor: pointer;
}
.portfolio-popup-img {
  border-radius: 0.5rem;
}
.portfolio-popup-subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb025);
}
.details-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb1);
}
.details-description {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb2);
}
.details-info li {
  margin-bottom: var(--mb075);
  text-transform: capitalize;
  font-size: var(--small-font-size);
}
.details-info li:last-child {
  margin-bottom: 0;
}
.details-info li span {
  font-weight: normal;
}
.details-info li a {
  text-transform: lowercase;
  color: var(--skin-color);
}

/* Main - Services */

.services-container {
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  column-gap: 1.8rem;
  margin: auto;
}
.services-content {
  position: relative;
  background-color: var(--box-color);
  padding: 6rem 0 2rem 2.5rem;
  border-radius: 0.25rem;
}
.services-icon {
  display: block;
  font-size: 1.8rem;
  color: var(--skin-color);
  margin-bottom: var(--mb1);
}
.services-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb1);
  font-weight: var(--font-medium);
}
.services-button {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.services-button-icon {
  font-size: 1rem;
  transition: 0.4s;
}
.services-button:hover .services-button-icon {
  transform: translateX(0.25rem);
}
.services-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.active-modal {
  opacity: 1;
  visibility: visible;
}
.services-modal-content {
  width: 500px;
  position: relative;
  background-color: var(--box-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 0.5rem;
}
.services-modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--skin-color);
  cursor: pointer;
}
.services-modal-title,
.services-modal-description {
  text-align: center;
}
.services-modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb1);
}
.services-modal-description {
  font-size: var(--small-font-size);
  padding: 0 3.5rem;
  margin-bottom: var(--mb2);
}
.services-modal-services {
  row-gap: var(--mb075);
}
.services-modal-service {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.services-modal-icon {
  color: var(--skin-color);
  font-size: 1.1rem;
}
.services-modal-info {
  font-size: var(--small-font-size);
}

/* Main - Contact */

.contact-container {
  grid-template-columns: 300px 340px;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}
.contact-info {
  display: grid;
  row-gap: 1rem;
}
.contact-card {
  background-color: var(--box-color);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
.contact-card-icon {
  font-size: 1.8rem;
  color: var(--title-color);
  margin-bottom: var(--mb025);
}
.contact-card-title,
.contact-card-data {
  font-size: var(--small-font-size);
}
.contact-card-title {
  font-weight: var(--font-medium);
}
.contact-card-data {
  display: block;
  margin-bottom: var(--mb075);
}
.contact-button {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.contact-button-icon {
  font-size: 1rem;
  transition: 0.4s;
}
.contact-button:hover .contact-button-icon {
  transform: translateX(0.25rem);
}
.input-container {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
}
.input {
  width: 100%;
  border: 2px solid var(--text-color);
  background-color: transparent;
  padding: 0.6rem 1.2rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
  letter-spacing: 0.5px;
  border-radius: 0.5rem;
  outline: none;
  transition: 0.4s;
}
textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 140px;
  border-radius: 0.5rem;
  resize: none;
  font-family: var(--body-font);
}
.input-container label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: var(--font-medium);
  pointer-events: none;
  z-index: 15;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}
.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: var(--small-font-size);
  padding: 0 0.4rem;
  pointer-events: none;
  z-index: var(--z-fixed);
  color: transparent;
}
.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  height: 5px;
  background-color: var(--body-color);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}
.input-container span::before {
  left: 50%;
}
.input-container span::after {
  right: 50%;
}
.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: var(--smaller-font-size);
}
.input-container.focus span::before,
.input-container.focus span::after {
  width: 50%;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .qualification-container {
    grid-template-columns: repeat(2, 290px);
  }
  .skills-container {
    grid-template-columns: 340px 300px;
  }
  .skills-list {
    row-gap: 1.7rem;
  }

  .work-card {
    padding: 1rem;
  }
  .work-img {
    margin-bottom: var(--mb075);
  }
  .work-title {
    margin-bottom: var(--mb025);
  }

  .services-container {
    grid-template-columns: repeat(3, 220px);
  }

  .testimonial-card {
    padding: 1.25rem 1.5rem;
  }

  .portfolio-item-details {
    margin-bottom: var(--mb15);
  }
  .details-info li {
    margin-bottom: var(--mb05);
  }
  .details-title {
    margin-bottom: var(--mb075);
  }
}

@media screen and (max-width: 768px) {
  .about-img {
    width: 250px;
  }
  .qualification-container {
    grid-template-columns: 290px;
    row-gap: 3rem;
  }
  .skills-container {
    grid-template-columns: 300px;
    row-gap: 3rem;
  }
  .work-container {
    grid-template-columns: 330px;
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .services-content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }
  .services-icon {
    font-size: 1.5rem;
  }

  .contact-container {
    grid-template-columns: 360px;
    row-gap: 3rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  .footer-socials {
    justify-self: start;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer-bg {
    padding: 2rem 0 3rem;
  }
  .footer-copy {
    margin-top: var(--mb3);
  }

  .portfolio-popup-inner {
    width: 420px;
    padding: 2.8rem 1.5rem 2.5rem;
  }
  .portfolio-popup-content {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }
  .details-title {
    font-size: var(--normal-font-size);
  }
  .portfolio-popup-close {
    top: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .services-modal-content {
    padding: 4.5rem 1.5rem 2.5rem;
  }
  .services-modal-description {
    padding: 0;
  }

  .work-container,
  .contact-container {
    grid-template-columns: 300px;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-links {
    justify-self: flex-start;
  }
}
@media screen and (max-width: 350px) {
  .work-container,
  .skills-container,
  .qualification-container,
  .contact-container {
    grid-template-columns: 1fr;
  }
  .skills-title {
    font-size: var(--normal-font-size);
  }
  .work-item {
    font-size: var(--normal-font-size);
  }
  .work-filters {
    column-gap: 0.25rem;
  }
  .services-container {
    grid-template-columns: max-content;
  }
  .services-content {
    padding-right: 3.5rem;
  }
}
